@media (max-width: 768px) {
    #a, #b, #c, #d, #i {
        width: 480px;
    }

    #a {
    height: 75px;
    padding-top: 30px;
    }

    #b {
    height: 150px;
    padding-top: 75px;
    }

    #side-by-side-1, #side-by-side-2 {
        width: 480px;
    }

    #c, #d {
    height: 125px;
    padding-top: 57px;
    }

    #e, #g {
    float: left;
    }

    #f, #h {
    float: right;
    }

    #e, #f, #g, #h {
    width: 240px;
    height: 250px;
    padding-top: 122px;
    }

    #i {
    height: 80px; 
    clear: both;
    padding-top: 35px;
    }
}

@media (min-width: 769px) {
    body{
        width: 960px;
    }
    #a {
    width: 960px;
    height: 100px;
    padding-top: 45px;
    }

    #b {
    width: 200px;
    height: 600px;
    padding-top: 295px;
    float: left;
    }

    #c {
        float: left;
    }

    #d {
        float: right;
    } 
    #c, #d {
        height: 200px;
        width: 380px;
        padding-top: 57px;
    }

    #e,#g {
        float: left;
    }

    #f, #h {
        float: right;
    }

    #e, #f, #g, #h {
    width: 190px;
    height: 250px;
    padding-top: 120px;
    }

    #four-block {
        width: 760px;
    }

    #i {
    height: 150px; 
    width: 760px;
    padding-top: 35px;
    float: right;
    }
}