@media (max-width: 768px) {
    #a {
    background-color: brown;
    }
    #b {
    background-color: red;
    }

    #c {
    background-color: green;
    }

    #d {
    background-color: yellow;
    }

    #e {
    background-color: purple;
    }

    #f {
    background-color: pink;
    }

    #g {
    background-color: blue;
    }

    #h {
    background-color: orange;
    }

    #i {
    background-color: aqua;
    }
}

@media (min-width: 769px) {
    #a {
    background-color: lightblue;
    }
    #b {
    background-color: lightgreen;
    }

    #c {
    background-color: lightsalmon;
    }

    #d {
    background-color: lightgoldenrodyellow;
    }

    #e {
    background-color: lightslategray;
    }

    #f {
    background-color: lavender;
    }

    #g {
    background-color: lightcoral;
    }

    #h {
    background-color: royalblue;
    }

    #i {
    background-color: magenta;
    }
}