#a {
    background-color: brown;
}
#b {
    background-color: red;
}

#c {
    background-color: green;
}

#d {
    background-color: yellow;
}

#e {
    background-color: purple;
}

#f {
    background-color: pink;
}

#g {
    background-color: blue;
}

#h {
    background-color: orange;
}

#i {
    background-color: aqua;
}